body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #162037;
  overflow-x: hidden;
  overflow-y: hidden;
}

.hover-area {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: transparent;
  height: 60px;
  width: 100vw;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-text {
  color: white;
}

.bottom-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: #AFAFB5;
  z-index: 5;
  overflow: auto;

  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.bottom-bar.hidden {
  height: 0px;
}

.small-tile {
  height: 80px;
  width: 150px;
  background-color: #ffffff;
  margin: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.hidden>.small-tile{
  height: 0px;
}

.unselect-drop-area {
  height: 80px;
  width: 150px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  width: 600px;
  height: 150px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
}

.selected-tile {
  flex: 1;
  background-color: white;
  margin: 10px;
}

.selected-being-dragged {
  position: absolute;
  transform: translateX(-9999px);
}

.unselected-being-dragged {
  transform: translateX(-9999px);
}

.drop-area {
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.drop-area.visible {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 10px;
}

.drop-area.hidden {
  height: 0px;
  width: 0px;
}

.dropzone {
  background-color: blue !important;
}

.mine {
  height: 130px;
  width: 80px;
  top: 10px;
  position: absolute;
  background-color: transparent;
  z-index: 999;
}

.mine.hidden {
  z-index: -999 !important;
}
